<p id="introduction">
  Found some interesting dishes you want to cook but not sure if they fit your
  dietary needs? Are you tired of having to manually type in all the ingredients
  you found in an online recipe into nutrition calculators. This website will
  save the hassles for you!
</p>
<h2 id="q">
  How to use this site
</h2>
<p id="a">
  Type in a food or ingredient in the search bar below and it will show a list
  of recipes relevant to your search term. You can also click on "Get
  Ingredients" to get a list of ingredients and their nutritional content. Those
  information will be shown in the table below.
</p>

<app-recipes-box></app-recipes-box>
